* {
  box-sizing: border-box
}

.ol-control {
  border-radius: 15px;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ol-control button {
  cursor: pointer;
  font-size: 25px;
  width: 1.5em;
  height: 1.5em;
  background-color: rgba(40, 135, 175, .8);
  border-radius: 15px;
  margin: 0px;
}

.ol-zoom {
  top: 7em;
  left: 1.5em 
}

.ol-zoom.new {
  border-radius: 15px;
  outline: 1mm solid rgb(230, 230, 230)
}

.ol-control button:hover,.ol-zoomslider:hover {
  background-color: rgba(79, 158, 192, 0.9);
  border-radius: 15px;
}

body {
  margin: 0;
  padding: 0;
}

.map {
  height: 100vh;
  width: 100vw;
}

.ol-mouse-positionn {
  position: absolute;
  bottom: 2em;
  left:28.5em;
  background-color: rgba(40, 135, 175, .8);
  border-radius: 15px;
  color: #eee;
  padding: 1px 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ol-zoomslider {
  cursor: pointer;
  top: 13.1em;
  left: 1.5em;
  background-color: rgba(40, 135, 175, .8);
  outline: 1mm solid rgb(230, 230, 230);
  border-radius: 15px;
}

.ol-zoomslider button {
  box-shadow: 0 3px 3px rgba(0,0,0,0.1) ;
  height: 0.8em;
  background-color: rgba(255, 255, 255, .9);
}

.ol-scale-line {
  background:rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  bottom:2em;
  left:15.5em;
  padding:2px;
  position:absolute;
  font-family: 'Montserrat', sans-serif;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ol-zoom-extent {
  top: 27em;
  left: 1.5em;
  position:absolute;
  outline: 1mm solid rgb(230, 230, 230)
}

.ol-overviewmap {
  bottom: 2em;
  left: 1.5em
}

.map .ol-custom-overviewmap:not(.ol-collapsed)  {
  left: 3.7em
}

.ol-overviewmap.ol-collapsed button {
  bottom:0em;
  left:0em;
  position:absolute;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ol-overviewmap:not(.ol-collapsed) button {
  bottom:0em;
  left:-1.4em;
  position:absolute;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#titleBox {
  border-radius: 15px;
  width: 660px;
  height: 60px;
  position: absolute;
  display: flex;
  align-items: center; 
  justify-content: center;
  top: 1.5em;
  left: 5em;
  background-color: rgba(40, 135, 175, 0.8);
  font-family: 'Montserrat', sans-serif;
  color: #eee;
  font-size: 20px;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#overlay-container2::-webkit-scrollbar {
  position: absolute;
  scroll-padding-right: 20px;
  width: 0.5em
}

#overlay-container2::-webkit-scrollbar-track {
  margin: 40px;
  box-shadow: inset 7px 10px 12px #ffffff;
}
 
#overlay-container2::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: darkgrey;
  outline: 0px solid slategrey;
  border: 2px white solid;
}

#overlay-container2 {
  display: none;
  position: absolute;
  top: 6em;
  left: 4.8em;
  width: 400px;
  max-height: 35.5em;
  overflow-y: scroll;
  overflow-y: overlay;
  text-align: center;
  font-size: large;
  padding: 20px 20px;
  color: rgb(0, 0, 0);
  background-color:rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  font-family: 'Montserrat', sans-serif;
  margin: 0.5em;
  border-radius: 15px;
  z-index: 3;
}

.sidebar {
  display: none;
  position: absolute;
  top: 13.2em;
  right: 5em;
  width: fit-content;
  height: fit-content;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #eee;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 4;
}

.weather {
  cursor: pointer;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  outline: 1mm solid rgba(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #eee;
  padding: 8px;
  top: 2.15em;
  right: 5em;
  display: block;
  position: absolute;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.layer-button {
  cursor: pointer;
  width: 2.4em;
  height: 2.4em;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  outline: 1mm solid rgba(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #eee;
  top: 8.5em;
  right: 4.5em;
  display: block;
  position: absolute;
  z-index: 2;
  text-align: center;
  font-weight: bold;
}

.weather:hover {
  background-color: rgba(79, 158, 192, 0.9);
}

.close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 5px;
  width: 25px;
  height: 25px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 350px;
}
th, td{
  padding: 3px 6px;
  border: 1px solid rgb(0, 0, 0);
}

.block__link {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.locate {
  transform:rotate(-90deg);
  position: absolute;
  width: 2.4em;
  height: 2.4em;
  top: 30.8em;
  left: 1.5em;
  outline: 1mm solid rgb(230, 230, 230)
}

#gerb-perm {
  padding-top: 5px;
}

.legend {
  display: none;
  position: absolute;
  bottom: 2em;
  right: 4.3em;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 15px;
  z-index: 3;
}

#info-text {
  display: block;
  position: absolute;
  top: 6.5em;
  left: 5.5em;
  width: 335px;
  padding: 14px;
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 15px;
  z-index: 3;
}

.dobav-org {
  cursor: pointer;
  width: 2.4em;
  height: 2.4em;
  padding-top: 3px;
  padding-left: 3px;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  outline: 1mm solid rgba(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #eee;
  top: 8.5em;
  right: 8.2em;
  position: absolute;
  z-index: 2;
}

#form-org {
  display: none;
  position: absolute;
  top: 11.55em;
  right: 8.2em;
  width: 500px;
  padding-right: 5px;
  height: fit-content;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 3;
}

.filter {
  cursor: pointer;
  width: 2.4em;
  height: 2.4em;
  padding-top: 7px;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  outline: 1mm solid rgba(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #eee;
  top: 8.5em;
  right: 12em;
  display: block;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.filter-bar {
  display: none;
  position: absolute;
  top: 13.2em;
  right: 13.7em;
  width: fit-content;
  height: fit-content;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #eee;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 4;
}

input[type="radio"] {
  height:1.5em; width:1.5em;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
  vertical-align: middle;
}

input[type="checkbox"] {
  height:1.5em; width:1.5em;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 5px;
  vertical-align: middle;
}

#measure {
  display: none;
  position: absolute;
  top: 30.8em;
  left: 5.3em;
  width: fit-content;
  height: fit-content;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #eee;
  outline: 1mm solid rgb(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 5;
}

#mes-but {
  cursor: pointer;
  width: 2.4em;
  height: 2.4em;
  padding-top: 6px;
  padding-left: 6px;
  background-color: rgba(40, 135, 175, 0.8);
  border-radius: 15px;
  outline: 1mm solid rgba(230, 230, 230);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  color: #eee;
  top: 34.6em;
  left: 1.5em;
  position: absolute;
  z-index: 2;
}

.tooltip {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}